<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width= , initial-scale=1.0">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Source+Code+Pro&display=swap">
  <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <title>Projects</title>
</head>

<body>
  <!-- Header -->
  <%- include('partials/header') %>

    <!-- Main container -->
    <main class="container dashboard">
        <h2>Projects</h2>
        <div class="headings">
          <h3>Hi, <%= user.firstName %>!</h3>
          <span> <%= `Today is ${new Date().toLocaleDateString([], { weekday: 'long' })},${String.fromCharCode(160)}` %></span>
          <span><%= new Date().toLocaleDateString([], { year: 'numeric' , month: 'long' , day: '2-digit' }) %></span>
        </div>
        <button type="submit" class="contrast" id="add-project-small-btn" onclick="location.href='/dashboard/addProject';">+ Add Project</button>

        <% projectData.forEach( el => { %>
          <article>
            <h4 class="projectTitle" data-id='<%=el._id%>'><%= el.title %></h4>
            <h4 class="dueDate"><%= el.dueDate.toLocaleDateString([], { month: 'short',
              day: '2-digit' }) %></h4>
            <p><%= el.description.length > 40 ? el.description.slice(0,40) + '...' : el.description %></p>
          </article>
        <% }) %>

    </main>
    <!-- Footer -->
    <%- include('partials/footer') %>
</body>
</html>