<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Branches Project - <%= projectArray[0].name %></title>

        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
        <link rel='stylesheet' href='style.css'>

    </head>    
    <body>

        <%- include('partials/header') %>

      <section id='individual-project-data' class='container'>
        <h2><%= projectData.title %></h2>
        <h3><%= projectData.dueDate %></h3>
        <ul id="team-members">
            <% projectData.teamMembers.forEach(x => { %>
                <li class="member">
                    <%= x.firstName %>
                </li>
            })
        </ul>
        <h4>Description</h4>
        <span class='projectDesc'><%= projectData.description %></span>

      </section>
      
      <section id='individual-project-buttons' class='container'>
          <button id='mark-complete-button' class='outline'>Mark Complete</button>
          <a href='/dashboard' role='button' class='contrast outline' id='back-to-projects'>Back to Projects</a>
          <button id='delete-project-button' class='delete-project'>Delete Project</button> 
      
      </section>

      <%- include('partials/footer') %>

    </body>
</html>